<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= current_page.data.title || "Foodcritic" %></title>
    <%= stylesheet_link_tag "bootstrap.min", "rouge" %>
  </head>
  <body class="<%= page_classes %>">

    <div class="navbar">
      <a class="navbar-brand" href="#">Foodcritic</a>
      <ul class="nav navbar-nav">
        <li><a href="#choosing-rules-to-run">Choosing rules to run</a></li>
        <li><a href="#tags">Tags</a></li>
        <li><a href="#extra-rules">Extra rules</a></li>
        <li><a href="https://github.com/foodcritic/foodcritic">Code</a></li>
        <li><a href="dash-feed://http%3A%2F%2F<%= config[:hostname] %>%2Fdash%2FFoodcritic.xml">Dash Docset</a></li>
        <li><a href="https://github.com/foodcritic/foodcritic/issues?sort=created&direction=desc&state=open">Issues</a></li>
        <li><a href="https://github.com/foodcritic/foodcritic/blob/master/CHANGELOG.md">Changelog</a></li>
        <li><a href="https://raw.github.com/foodcritic/foodcritic/master/LICENSE">License</a></li>
      <ul>
    </div>

    <%= yield %>
  </body>
</html>
