---
title: Foodcritic - A lint tool for your Opscode Chef cookbooks
---
<div class="container">
  <%= partial "splash" %>
  <hr />
  <%= partial "rules_list" %>
  <hr />
  <%= partial "rules_detail" %>
  <hr />
  <%= partial "choosing_rules" %>
  <hr />
  <%= partial "extra_rules" %>
  <hr />
  <%= partial "rule_api" %>
</div>
